In [ ]:
# Question 1.

# Do Experiment with 5 List's In-built functions and post it to Github

list1 = [3,4,53,34,'rohit',['r','s'],234,3423]

In [20]:
# 1. append()

list1.append('name')

print(list1)

[3, 4, 53, 34, 'rohit', ['r', 's'], 234, 3423, 'name', 'name']

In [22]:
# 2. insert()

list1.insert(2,'soham')

print(list1)

[3, 4, 'soham', 53, 34, 'rohit', ['r', 's'], 234, 3423, 'name', 'name']

In [23]:
# 3. remove

list1.remove('name')

list1

[3, 4, 'soham', 53, 34, 'rohit', ['r', 's'], 234, 3423, 'name']

In [28]:
# 4. sort() 

list2 = [34,23,54,46,67,56]

list2

list2.sort()

list2

[23, 34, 46, 54, 56, 67]

In [29]:
# 5. reverse 

list3 = ['A','B','C','D','E']

list3.reverse()

print(list3)

['E', 'D', 'C', 'B', 'A']

In [31]:
# Question 2
# Do Experiment with 5 Dictionaryâ€™s In-Built Functions, and post it to Github

dis = {"Name":"Rohit","Age":20,"loc":"Mumbai"}

dis

{'Age': 20, 'Name': 'Rohit', 'loc': 'Mumbai'}

In [33]:
# 1. get

print(dis.get("Name"))

Rohit

In [34]:
# 2. keys

print(dis.keys())

dict_keys(['Name', 'Age', 'loc'])

In [35]:
# 3.values

print(dis.values())

dict_values(['Rohit', 20, 'Mumbai'])

In [41]:
# 4. items

print(dis.items())

dict_items([('Name', 'Rohit'), ('Age', 20), ('loc', 'Mumbai')])

In [42]:
# 5.clear 

print(dis.clear())

None